@{
    Layout = "_Layout";
    Console.WriteLine("_InnerLayout_FunA");
}
<nav class="sub-menu">
    <ul>
        <li>
            <a asp-controller="FunA" asp-action="Action1">功能A-1</a>
        </li>
        <li>
            <a asp-controller="FunA" asp-action="Action2">功能A-2</a>
        </li>
        <li>
            <a asp-controller="FunA" asp-action="Action3">功能A-3</a>
        </li>
    </ul>
</nav>
<div class="sub-content">
    @RenderBody()
</div>