@{
    Layout = "_Layout";
    Console.WriteLine("_InnerLayout_FunB");
}
<nav class="sub-menu">
    <ul>
        <li>
            <a asp-controller="FunB" asp-action="Action1">功能B-1</a>
        </li>
        <li>
            <a asp-controller="FunB" asp-action="Action2">功能B-2</a>
        </li>
        <li>
            <a asp-controller="FunB" asp-action="Action3">功能B-3</a>
        </li>
    </ul>
</nav>
<div class="sub-content">
    @RenderBody()
</div>